footer{
    padding: 10px;
    background: map-get($colors, colorsecundario);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: footer; 
    p{
        @include pcolor(map-get($colors, colorcuaternario));
    }
    img{
        height: 30px;
        padding-right: 15px;
    }
}